@font-face {
    font-family: "ProductSans-Regular";
    src: url("../fonts/ProductSans-Regular.ttf");
}

* {
    box-sizing: border-box;
    font-family: 'ProductSans-Regular';
    color: #202124;
    font-size: 14px;
}

#container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr;
}

/* header */
#header-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    margin: .5rem 1rem;
}

.header-link {
    text-decoration: none;
    color: inherit;
    font-size: 1rem;

    &:hover {
        border-bottom: 1px solid black;
    }
}

.header-button {
    padding: .6rem 1.2rem;
    border-radius: 5px;
    background: #2b7de9;
    color: #fff;

    &:hover {
        border: none;
    }
}

.header-icon {
    padding: .5rem;
    position: relative;
    top: 3px;

    &:hover {
        background-color: rgb(228, 225, 225);
        border-radius: 100%;
    }
}

#container-main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.section-logo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.section-search {
    width: 40%;
    margin: auto;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

.search-icon {
    margin: 0 13px;
    position: relative;
    top: 2px;
}

.search-text {
    width: 100%;
    height: 98%;
    position: relative;
    top: 0;

    input {
        width: 100%;
        height: 100%;
        border: none;
        font-size: 16px;

        &:focus {       
            outline: none;
        }
    }
}

.section-buttons {
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    gap: 2rem;

    div {
        padding: .5rem 1rem;
        border: 2px solid transparent;
        

        &:hover {
            border: 2px solid #dfe1e5;
            border-radius: 6px;
            background-color: rgba(224, 219, 219, 0.226);
        }
    }

    div a {
        text-decoration: none;
    }
}

.footer-country {
    padding-bottom: 10px;
}

.footer-country span {
    font-size: 15px;
    color: #70757a;
    padding: 1rem;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-top: 1px solid #dadce0;;

    div a {
        margin: 0 10px;
        text-decoration: none;
        color: #70757a;
        font-size: 15px;

        &:hover {
            border-bottom: 1px solid #70757a;
        }
    }
}